<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"></script>
    <title>my cinema</title>
</head>
<body class="bg-img">
<div class="container-fluid">
    <header th:insert="blocks/header :: header"></header>
    <h2 class="text-white text-center">Покупка билета</h2>
    <!--    mr-2 расстояние между кнопками-->
    <div class="bg-footer">
        <div class="border my-screen">
            <p class="text-white text-center">Экран</p>
        </div>
        <th:block th:with="count = ${map.size()}">
            <div class="btn-toolbar border-bottom my-row d-flex justify-content-center" role="toolbar"
                 aria-label="Toolbar with button groups" th:each="r: ${#numbers.sequence(1, count)}">

                <p class="text-white" style="margin-right: 5px" th:text="${r}"></p>
                <p class="text-white" style="margin-right: 25px">ряд</p>
                <div class="btn-group mr-2 overflow-auto" role="group" aria-label="First group"
                     th:each="i: ${map.get(r - 1)}">
                    <form th:action="@{/ticket/buy}" method="post">
                        <input type="hidden" name="session_id" th:value="${session_id}">
                        <input type="hidden" name="row" th:value="${r}">
                        <button th:if="${!i.startsWith('*')}" type="submit" class="btn btn-primary btn-sm"
                                title="свободно" name="coll" th:value="${i}" th:text="${i}"></button>
                        <button th:if="${i.startsWith('*')}" type="button" class="btn btn-secondary btn-sm"
                                title="место занято" th:text="${i.substring(1)}">#
                        </button>
                    </form>
                </div>

            </div>
        </th:block>
    </div>
</div>
<footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>