<div class="border-dark-3" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/welcome">Job4j_CinEma</a>
            <div class="collapse navbar-collapse bg-success text-white border-dark-1">
                <div class="navbar-nav flex-grow-1">
                    <a class="nav-item nav-link active" href="/film_session">Расписание</a>
                    <a class="nav-item nav-link active" href="/index">Фильмотека</a>
                    <a class="nav-item nav-link active">Контакты</a>
                </div>
                <div class="d-flex" th:if="${user.name == 'Гость'}">
                    <a class="nav-link text-secondary me-3" th:href="@{/users/register}">Регистрация</a>
                    <a class="nav-link text-secondary" th:href="@{/users/login}">Войти</a>
                </div>
                <div class="d-flex" th:if="${user.name != 'Гость'}">
                    <a class="nav-link text-secondary me-3" href="#" th:text="${user.name}"></a>
                    <a class="nav-link text-secondary" th:href="@{/users/logout}">Выйти</a>
                </div>
            </div>
        </div>
    </nav>
</div>

<!--justify-content-end-->